.button{
  width:250px;
  height: 50px;
  margin: 20px;
  font-size: 30px;
  color: #0E0334;
  background-color: #D9D7DF;
  border-width: 2px;
  border-style: solid;
  border-color: #2E1C6B;
}

.active{
  background-color: red;
}
.hidden{
  display: none;
}
.mainStyle{
  color: #230137;
  border-color:#000000;
  background-color: #B3A3EC;
  width: 500px;
  height: 600px;
  text-align: center;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
